.markpage {
  display: flex;
  width: 100%;
  align-items: center;
}
.wrapper {
  width: 50%;
  height: 80vh;
  margin: 5px 10px;
  outline: none;
  display: flex;
  padding: 20px;
  background: #eceeee;
  flex-direction: column;
  border: 2px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}
.head {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  font-size: 15px;
}
textarea {
  padding: 15px;
  border: none;
  outline: none !important;
  width: 96%;
  height: 80vh;
  overflow-x: hidden;
  font-size: 17px;
  resize: none;
  background: #eceeee;
}
.markdown {
  padding: 15px;
  border: none;
  outline: none !important;
  width: 96%;
  resize: none;
  overflow-x: hidden;
  background: #fff;
}
.text-heading{
  text-align: center;
}